<body id="HomepageBody">
    </body>



<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-2"><strong>Welcome</strong></h1>
</div>

<br />
<br />
<br />

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-3">
        <form action="/Book/CreateAndUpdateBook">
            <input type="submit" id="CreateAndUpdateBook" name="CreateAndUpdateBook" value="Add New Book" class="btn btn-primary" style="width:350px; height:75px ; font-size:36px" />
        </form>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-3">
        <form action="/Book/ReadBooks">
            <input type="submit" id="ReadBooks" name="ReadBooks" value="Show Book List" class="btn btn-primary" style="width:350px; height:75px ; font-size:36px" />
        </form>
    </div>
</div>
